<div class="container">

    <div class="row text-center">
        <h1>Create your jam:</h1>
        <p>Please select your chords</p>
        <p><textarea class="chords"></textarea></p>
        <p><button class="btn btn-success submit">Let's jam!</button></p>
    </div>

</div>