<!DOCTYPE html>
<html>
  <head>
    <title>Music Hack Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <%- body %>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/MIDIUtils.js"></script>
    <script type="text/javascript" src="/js/fastclick.js"></script>
    <script type="text/javascript">
    $( document ).ready( function() {
      FastClick.attach(document.body);
      
      $( 'button.submit' ).on( 'click', function() {
        var chords = $( 'textarea.chords' ).val() || 'C F G';
        chords.toUpperCase();
        chords = chords.split( ' ' );
        var data = {
          chords: chords
        }
        $.post( '/room/create', data )
        .done( function( result ) {
          window.location.href = '/room/lobby/' + result.id
        })
        .fail( function( error ) {
          console.log( error );
        });
      });

      $( 'button.set-scale' ).on( 'click', function() {
        url = $( 'input.url' ).val();
        $.get( url )
        .done( function( data ) {
          scale = data.scale;
          data.scale.forEach( function( note ) {
            scale.push( note + 12 );
          });
        });
      });
      
      $( '.block' ).on( 'click', function( e ) {
        var index = $( e.target ).data( 'index' );
        playMidi( scale[ index ], oscillator );
      });

      url = '';
      scale = [];
      context = new AudioContext();
      oscillator = context.createOscillator();
      oscillator.type = oscillator.SQUARE;
      oscillator.frequency.value = 0;
      oscillator.connect( context.destination );
      oscillator.noteOn(0);

      playNote = function( noteName, osc ) {
        var midiNote = MIDIUtils.noteNameToNoteNumber( noteName );
        playMidi( midiNote, osc );
      }

      playMidi = function( midiNote, osc ) {
        var freq = MIDIUtils.noteNumberToFrequency( midiNote );
        playFreq( freq, osc );
      };

      playFreq = function( freq, osc ) {
        osc.frequency.value = freq;
      };

    });


    </script>
  </body>
</html>
