<!DOCTYPE html>
<html>
  <head>
    <title>Music Hack Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/MIDIUtils.js"></script>
    <script type="text/javascript" src="/js/fastclick.js"></script>
    <script type="text/javascript" src="/js/subcollider-min.js"></script>
    <script type="text/javascript" src="/js/timbre.js"></script>
    <%- body %>
    <script type="text/javascript">
    $( document ).ready( function() {
      FastClick.attach(document.body);

      playChord = function( chord, osc1, osc2, osc3 ) {
        var midiNote = MIDIUtils.noteNameToNoteNumber( chord );
        playMidi( midiNote, osc1 );
        playMidi( midiNote + 4, osc2 );
        playMidi( midiNote + 7, osc3 );
      }

      playNote = function( noteName, osc ) {
        var midiNote = MIDIUtils.noteNameToNoteNumber( noteName );
        playMidi( midiNote, osc );
      }

      playMidi = function( midiNote, osc ) {
        var freq = MIDIUtils.noteNumberToFrequency( midiNote );
        playFreq( freq, osc );
      };

      playFreq = function( freq, osc ) {
        osc.freq = freq;
      };

    });


    </script>
  </body>
</html>
