<div class="row">
	<div class="block key1" data-index="0"></div>
	<div class="block key2" data-index="1"></div>
	<div class="block key3" data-index="2"></div>
	<div class="block key4" data-index="3"></div>
	<div class="block key5" data-index="4"></div>
</div>

<div class="row">
	<div class="block key6" data-index="5"></div>
	<div class="block key7" data-index="6"></div>
	<div class="block key8" data-index="7"></div>
	<div class="block key9" data-index="8"></div>
	<div class="block key10" data-index="9"></div>
</div>

<div class="row">
	<div class="col-xs-12">
		<input class="url" />
		<button class="set-scale">Set scale</button>
	</div>
</div>