html{
  height: 100%;
}
body {
  min-height: 100%;
  background: #FBEFF4;
}

.col-md-6 {
	padding: 0;
}

.block {
	width: 20%;
	height: 200px;
	float: left;
	border: solid 1px #EADEE3;
}

.selected{
	background: #25271E;
}

.goal{
	background: #D0E799;
}

.active{
	border: solid 5px #EADEE3;
	background: #D8C358;
}